@model RecuperacionT2.Models.ViewModels.UsuarioLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form asp-action="Login" asp-controller="Usuario" method="post">
                    <h4>Welcome Back</h4>
                    <div class="col-12">
                        <label>Nombre de Usuario</label>
                        <input type="text"  name="nombreusuario" class="form-control" placeholder="Nombre de Usuario">
                    </div>
                    <div class="col-12">
                        <label>Contraseña</label>
                        <input type="password"  name="clave" class="form-control" placeholder="Contraseña">
                    </div>
                    <div>
                        <p><a asp-action="AltaUsuario">Registrarse</a>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
            </div>
        </div>
    </div>
</div>